@font-face {
  font-family: 'Candara Light';
	src: url('../Ressources/Police/CandaraLL.ttf');
}
@font-face {
  font-family: 'Poppins';
	src: url('../Ressources/Police/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: 'PoppinsT';
	src: url('../Ressources/Police/Poppins-Thin.ttf');
}
@font-face {
  font-family: 'Iceland';
	src: url('../Ressources/Police/Iceland.woff');
}
@font-face {
  font-family: 'Honey';
	src: url('../Ressources/Police/Honey.ttf');
}